/**********MEYER RESETS**********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************* FONTS *************/
/*
USING FONTS FROM ADOBE
Menu Items and small all caps letters:
- Agenda
Big Titles
- Sofia Pro
Body Copy
- Proxima Nova

*/
/************* SOME RESETS *************/
*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
	transition: 0.3s;
}
*::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
}
/*Adds margin bottom to paragraphs*/
p:not(:last-of-type){
	margin-bottom: 1rem;
}
@dark-grey: #05080D;
@light-grey: #FAF9F8;
@light-orange: #F07F2C;
@dark-orange: #EA5B0C;


/* GLOBAL */
.container{
	height: 100vh;
	width: 100vw;
	position: relative;
	display: block;
}
/*HOME TEMPLATE*/
.loading-screen{
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 10;
	background: @dark-grey;
	.loading-screen-content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30%;
		height: 200px;
	}
	#homepage-subtitle-loading-screen{
		color: @light-grey;
		font-family: agenda, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 2em;
		text-align: center;
		padding-top: 10px;
		letter-spacing: 3px;
		display: block;
		margin: 0 auto;
	}
}
.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.content-home{
	.content-home-holder{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		margin-left: 70px;
		.logo-home{
			width: 300px;
			z-index: 2;
		}
		.content-copy-home p{
			font-family: sofia-pro, sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: 8em;
			letter-spacing: -10px;
			line-height: .8em;
			color: @light-grey;
		}
	}
}

/*FULLSCREEN MENU*/
.homepage-fullscreen-menu{
	background: @dark-orange;
	height: 100vh;
	width: 100vw;
	z-index: 13;
	top: 0;
	left: 0;
	position: relative;
	opacity: 0;
	#homepage-subtitle{
		color: @light-grey;
		font-family: agenda, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 1em;
		display: block;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		letter-spacing: 3px;
	}
	.homepage-menu-item-holder{
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 90px);

		justify-items: center;
		justify-content: center;
		align-items: top;
		grid-gap: 150px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		:nth-child(7){
			grid-column-start: -3;
		}
		> a img{
		width: 70px;
		transition: 0.5s;
		}
		> a img:hover{
		width: 75px;
		transition: .3s;
		}
		// :nth-child(5) img{
		// 	width: 70px;
		// }
		.homepage-menu-icon{
			justify-content: center;
		}
		.homepage-menu-item{
			color: @light-grey;
			text-align: center;
			display: block;
			margin: 0 auto;
			margin-top: 20px;
			font-family: agenda, sans-serif;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 3px;
			opacity: 0;
		}
	}
	.homepage-menu-link:hover .homepage-menu-item{
		transition: .5s;
		opacity: 1;
	}
	.logo-fullscreen-menu{
		width: 200px;
		margin: 0 auto;
		display: block;
		padding-top: 6%;
	}
}

#right-inspection{
	background-color: @light-orange
}
#right-estate-agents{
	background-color: #14311d;
	// #bed04a
	// #c1ee8f
}
#right-weddings{
	background-color: #012c33;
	// #d5a871
}
#right-bespoke{
	background-color: #161c1c;
}
#right-about{
	background-color:@light-grey ;

	//#373239
}
#right-content-container-about{
	color: @dark-grey;
}
#right-contact{
	background-color: @light-grey;
}
#right-showreel{
	background-color: @light-grey;
}
/* PAGE TEMPLATE */
.content{
	display: block;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.content-left{
	width: 100vw;
	display: block;
	height: 100%;

	img{
		min-height: 100%;
		min-width: 1024px;

		/* Set up proportionate scaling */
		width: 100%;
		height: auto;

		/* Set up positioning */
		position: fixed;
		top: 0;
		left: 0;
	}
	@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.content-left  {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
	// .landscape{
	//
	// }
	// .portrait{
	// 	// max-width: 100%;
	// 	// min-height: 100%;
	// }
}
.content-right{
	width: 30%;
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.7;
}
.content-right-container{
	padding: 30px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 30%;
	display: block;
	right: 0;
	color: @light-grey;
}
.content-title{
	font-family: sofia-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 4em;
	letter-spacing: -3px;
	margin-bottom: 30px;
	position: relative;
	opacity: 1;
}
 p {
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	line-height: 25px;
	position: relative;
	opacity: 1;

}
/***** HOVER *****/
.homepage-links{
	top: 10px;
	left: 10px;
	position: relative;
	z-index: 6;
	.homepage-icon{
		top: 10px;
		left:7px;
		position: absolute;
	}
	#f-icon-home{
		height: 30px;
	}
	#logo-text{
		vertical-align: baseline;
		top: 11px;
		left: 37px;
		position: absolute;
		height: 40px;
		opacity: 0;
	}
}
// MENU
.menu{
	background: @light-grey;
	// width: 66px;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	float: left;
	clear: both;
	transition: 0.4s;
	display: block;
	z-index: 4;
	&:hover{
		// width: 10%;
	}
	.menu-item-holder{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		opacity: 1;
		> a:nth-child(2) img {
			height: 35px;
		}
		> a:nth-child(3) img {
			height: 35px;
		}
		// &:hover{
		// 	opacity: 1;
		// }
		.menu-item{
			color: @dark-grey;
			display: block;
			font-family: agenda, sans-serif;
			font-weight: 700;
			font-style: normal;
			width: 100px;
			opacity: 0;
			width: 200px;
			text-align: center;
			margin: 0 auto;
			margin-top: 20px;

		}
		.menu-icon{
			height: 20px;
			position: relative;
			left: 0;
			margin: 0 0 0 18px;
			opacity: 1;
		}
	}
}
// .menu-icon:hover .menu-item{
// 	transition: 0.3s;
// 	opacity: 1;
// }
.socials{
	height: 100px;
	bottom: 50px;
	left: 0;
	position: absolute;
	.social-media-icon{
		display: block;
		width: 20px;
		height: 20px;
		margin: 20px 0 10px 23px;
	}
}









// .menu-item-holder > a:nth-child(2) img {
// 	background: blue;
// }
// .menu-item-holder > a:hover ~ * {
// 	opacity: 0.5
// }
